<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.conlang.conlang">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".RequestService"></activity>
        <activity
            android:name=".RequestDetail"
            />
        <activity
            android:name=".Report"
            />
        <activity
            android:name=".ManageAccount" />
        <activity
            android:name=".RequestList">
        </activity>
       <activity android:name=".adminActivity" ></activity>
        <activity android:name=".customerActivity"></activity>
        <activity android:name=".loginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".translatorActivity"></activity>
    </application>a

</manifest>